<ul>
{% for result in results %}
   <li>
      <article class="result">
         {% if result.fields.thumbs_url is defined %}
            <img src="{{ result.fields.thumbs_url.0 }}" alt="">
         {% endif %}
         <a href="{{ path('subugoe_find_detail', {'id': result.fields.id}) }}">{{ result.fields.bytitle }}</a>
      </article>
   </li>
{% endfor %}
</ul>
